In [2]:
import os
# Check current working directory
os.getcwd()
# Change working directory
os.chdir(r"C:\Users\swast\Spark4Change")
# Verify
os.getcwd()

'C:\\Users\\swast\\Spark4Change'

In [3]:
# Reload with a more permissive encoding (utf-8 with errors) and just for active_df first
import pandas as pd

active_path = 'sd_businesses_active_datasd.csv'

active_df = pd.read_csv(active_path, encoding='utf-8', encoding_errors='ignore')
print(active_df.head())
print(active_df.columns)

   account_key account_status date_account_creation date_cert_expiration  \
0   1974000024         Active   1974-07-01 12:00:00  2026-06-30 12:00:00
1   1974000035         Active   1974-07-01 12:00:00  2026-06-30 12:00:00
2   1974000039         Active   1974-07-01 12:00:00  2026-06-30 00:00:00
3   1974000053         Active   1974-07-01 12:00:00  2026-06-30 00:00:00
4   1974000080         Active   1974-07-01 12:00:00  2026-06-30 12:00:00

   date_cert_effective                            business_owner_name  \
0  2025-07-01 12:00:00                               PARRON HALL CORP
1  2025-07-01 12:00:00  UNIV MECHANICAL & ENGINEERING CONTRACTORS INC
2  2025-07-01 00:00:00                        ADMIRAL EXCHANGE CO INC
3  2025-07-01 00:00:00                             R W SMITH & CO INC
4  2025-07-01 12:00:00                           ALDERWOODS GROUP INC

  ownership_type  date_business_start  \
0           CORP  1974-07-01 12:00:00
1           CORP  1974-07-01 12:00:00
2           CORP  1974-07-01 12:00:00
3           CORP  1974-07-01 12:00:00
4           CORP  1974-07-01 12:00:00

                                          dba_name  naics_sector  ...  \
0                                      PARRON HALL            44  ...
1  UNIVERSITY MECHANICAL & ENGINEERING CONTRACTORS            23  ...
2                          ADMIRAL EXCHANGE CO INC            42  ...
3                              R W SMITH & COMPANY            42  ...
4                  MERKLEY-MITCHELL MORTUARY #7055            81  ...

   address_city address_state address_zip address_suite address_pmb_box  \
0     SAN DIEGO            CA  92123-2697           100             NaN
1      EL CAJON            CA  92020-1812           NaN             NaN
2     SAN DIEGO            CA  92123-1405           NaN             NaN
3     SAN DIEGO            CA  92131-1650           NaN             NaN
4     SAN DIEGO            CA       92108           103             NaN

  address_po_box bid council_district        lat         lng
0            NaN NaN              7.0  32.806283 -117.120553
1            NaN NaN              NaN  32.808827 -116.977019
2            NaN NaN              NaN  32.830715 -117.134597
3            NaN NaN              5.0  32.898905 -117.109826
4            NaN NaN              7.0  32.780493 -117.113806

[5 rows x 27 columns]
Index(['account_key', 'account_status', 'date_account_creation',
       'date_cert_expiration', 'date_cert_effective', 'business_owner_name',
       'ownership_type', 'date_business_start', 'dba_name', 'naics_sector',
       'naics_code', 'naics_description', 'address_no', 'address_pd',
       'address_road', 'address_sfx', 'address_no_fraction', 'address_city',
       'address_state', 'address_zip', 'address_suite', 'address_pmb_box',
       'address_po_box', 'bid', 'council_district', 'lat', 'lng'],
      dtype='object')

C:\Users\swast\AppData\Local\Temp\ipykernel_25044\843949145.py:6: DtypeWarning: Columns (22) have mixed types. Specify dtype option on import or set low_memory=False.
  active_df = pd.read_csv(active_path, encoding='utf-8', encoding_errors='ignore')

In [4]:
# Load remaining inactive files with utf-8 and ignore errors
import pandas as pd

inactive_90_00_path = 'sd_businesses_inactive_1990to2000_datasd.csv'
inactive_00_10_path = 'sd_businesses_inactive_2000to2010_datasd.csv'
inactive_10_15_path = 'sd_businesses_inactive_2010to2015_datasd.csv'
inactive_15_curr_path = 'sd_businesses_inactive_2015tocurr_datasd.csv'

inactive_90_00_df = pd.read_csv(inactive_90_00_path, encoding='utf-8', encoding_errors='ignore')
inactive_00_10_df = pd.read_csv(inactive_00_10_path, encoding='utf-8', encoding_errors='ignore')
inactive_10_15_df = pd.read_csv(inactive_10_15_path, encoding='utf-8', encoding_errors='ignore')
inactive_15_curr_df = pd.read_csv(inactive_15_curr_path, encoding='utf-8', encoding_errors='ignore')

print(inactive_90_00_df.head())
print(inactive_00_10_df.head())
print(inactive_10_15_df.head())
print(inactive_15_curr_df.head())

C:\Users\swast\AppData\Local\Temp\ipykernel_25044\234718115.py:9: DtypeWarning: Columns (21,22) have mixed types. Specify dtype option on import or set low_memory=False.
  inactive_90_00_df = pd.read_csv(inactive_90_00_path, encoding='utf-8', encoding_errors='ignore')
C:\Users\swast\AppData\Local\Temp\ipykernel_25044\234718115.py:10: DtypeWarning: Columns (22) have mixed types. Specify dtype option on import or set low_memory=False.
  inactive_00_10_df = pd.read_csv(inactive_00_10_path, encoding='utf-8', encoding_errors='ignore')
C:\Users\swast\AppData\Local\Temp\ipykernel_25044\234718115.py:11: DtypeWarning: Columns (22) have mixed types. Specify dtype option on import or set low_memory=False.
  inactive_10_15_df = pd.read_csv(inactive_10_15_path, encoding='utf-8', encoding_errors='ignore')

   account_key account_status date_account_creation date_cert_expiration  \
0   1975007854      Cancelled   1995-08-02 12:00:00  1995-08-01 12:00:00
1   1979010122      Cancelled   1997-09-09 12:00:00  1997-10-02 12:00:00
2   1980007309      Cancelled   1990-06-13 12:00:00  1991-06-30 12:00:00
3   1980012758      Cancelled   1990-09-21 12:00:00  1991-08-31 12:00:00
4   1981005794      Cancelled   1991-06-18 12:00:00  2012-06-30 12:00:00

   date_cert_effective         business_owner_name ownership_type  \
0  1995-08-01 12:00:00                 KELLY SUE E           SOLE
1  1997-10-02 12:00:00  KPBS STORE OF KNOWLEDGE CO           CORP
2  1990-06-20 12:00:00           SAMI'S AUTO SALES           CORP
3  1990-08-08 12:00:00             MILLER/ANDRIZZI         PARTNR
4  2011-07-01 12:00:00                    RIEAN SY           SOLE

   date_business_start                      dba_name  naics_sector  ...  \
0  1995-08-01 12:00:00               SUE ELLEN KELLY            81  ...
1  1997-10-02 12:00:00       KPBS STORE OF KNOWLEDGE            45  ...
2  1990-06-20 12:00:00             SAMI'S AUTO SALES            44  ...
3  1990-08-08 12:00:00            J & R CONSTRUCTION            23  ...
4  1991-07-01 12:00:00  RIEAN BRIDAL AND FORMAL WEAR            31  ...

   address_city address_state address_zip address_suite address_pmb_box  \
0        SANTEE            CA       92071           NaN             NaN
1     SAN DIEGO            CA  92108-1148           NaN             NaN
2     SAN DIEGO            CA       92121           NaN             NaN
3     SAN DIEGO            CA       92124           NaN             NaN
4     SAN DIEGO            CA  92117-2703           NaN             NaN

  address_po_box bid council_district        lat         lng
0            NaN NaN              NaN  32.837548 -117.036034
1            NaN NaN              7.0  32.769536 -117.169203
2            NaN NaN              5.0  32.882144 -117.191488
3            NaN NaN              7.0  32.822658 -117.097972
4            NaN NaN              6.0  32.831173 -117.205804

[5 rows x 27 columns]
   account_key account_status date_account_creation date_cert_expiration  \
0   1986107819      Cancelled   2002-07-03 12:00:00  1986-06-17 12:00:00
1    198700001      Cancelled   2002-07-03 12:00:00  1987-10-01 12:00:00
2    198700002      Cancelled   2002-07-03 12:00:00  1988-01-09 12:00:00
3    198700008      Cancelled   2002-07-03 12:00:00  1988-01-27 12:00:00
4    198700009      Cancelled   2002-07-03 12:00:00  1988-01-01 12:00:00

  date_cert_effective                    business_owner_name ownership_type  \
0                 NaN                      SLOVATIZKI MIGUEL           SOLE
1                 NaN                           MARTIN GREGG           CORP
2                 NaN                          CARUCCI DAVID           CORP
3                 NaN                        JOSEPH L BARROW           SOLE
4                 NaN  SAN DIEGO POLICE OFFICERS ASSOCIATION           CORP

   date_business_start                           dba_name  naics_sector  ...  \
0  1986-06-17 12:00:00                 EL PALACIO DEL ORO            45  ...
1  1987-10-01 12:00:00  CALIFORNIA PERFORMING ARTS CENTRE            71  ...
2  1988-01-09 12:00:00  UNITED CEREBAL PALSEY ASSOC OF SD            71  ...
3  1988-01-27 12:00:00                LOUIS BARROW ASSOC.            71  ...
4  1988-01-01 12:00:00      SAN DIEGO POLICE PISTOL RANGE            71  ...

   address_city address_state address_zip address_suite address_pmb_box  \
0    SAN YSIDRO            CA       92173          13-1             NaN
1     SAN DIEGO            CA       92104           NaN             NaN
2     SAN DIEGO            CA       92119           NaN             NaN
3     SAN DIEGO            CA  92101-4806           NaN             NaN
4     SAN DIEGO            CA       92105           NaN             NaN

  address_po_box   bid council_district        lat         lng
0            NaN  26.0              8.0  32.551452 -117.038889
1            NaN  12.0              3.0  32.748509 -117.132739
2            NaN   NaN              7.0  32.804696 -117.024926
3            NaN   4.0              3.0  32.716806 -117.162869
4            NaN   NaN              4.0  32.719036 -117.107810

[5 rows x 27 columns]
   account_key account_status date_account_creation date_cert_expiration  \
0   2009039060      Cancelled   2010-01-04 08:10:41  2012-09-30 23:59:59
1   2009039100      Cancelled   2010-01-04 08:57:30  2014-01-31 23:59:59
2   2009039140      Cancelled   2010-01-04 09:21:24  2023-01-31 00:00:00
3   2009039141      Cancelled   2010-01-04 09:25:37  2011-12-31 23:59:59
4   2009039145      Cancelled   2010-01-04 10:25:28  2013-01-31 23:59:59

   date_cert_effective  business_owner_name ownership_type  \
0  2011-10-01 23:59:59      ARMORGRAFIX LLC            LLC
1  2013-02-01 23:59:59         JANE S SCHER           SOLE
2  2022-02-01 00:00:00    ANTONIO G SANCHEZ           SOLE
3  2011-01-01 23:59:59   KENNETH JAMES SHAW           SOLE
4  2012-02-01 23:59:59  FAWAZ JOSEPH KHOURI           SOLE

   date_business_start                dba_name  naics_sector  ...  \
0  2009-10-01 00:00:00            ARMORGRAFIX`            56  ...
1  2009-01-22 00:00:00    WWW SHOPINISRAEL COM            51  ...
2  2010-01-04 00:00:00      CITY VIEW PAINTING            56  ...
3  2009-12-30 00:00:00  INTERNATIONAL DATELINE            51  ...
4  2010-01-30 00:00:00     MISSION VALLEY DELI            72  ...

   address_city address_state address_zip address_suite address_pmb_box  \
0     SAN DIEGO            CA  92130-5106           NaN             NaN
1      LA JOLLA            CA  92037-2119           NaN             NaN
2     SAN DIEGO            CA  92117-4034           NaN             NaN
3     SAN DIEGO            CA  92117-6305             2             NaN
4     SAN DIEGO            CA  92108-1314           105             NaN

  address_po_box bid council_district        lat         lng
0            NaN NaN              1.0  32.969722 -117.238114
1            NaN NaN              1.0  32.860915 -117.240659
2            NaN NaN              NaN  32.829186 -117.183799
3            NaN NaN              6.0  32.801095 -117.194387
4            NaN NaN              6.0  32.773174 -117.155724

[5 rows x 27 columns]
   account_key account_status date_account_creation date_cert_expiration  \
0   2015000000      Cancelled   2015-01-02 08:18:13  2023-01-31 23:59:59
1   2015000025      Cancelled   2015-01-02 10:07:26  2016-12-31 00:00:00
2   2015000030      Cancelled   2015-01-02 11:00:17  2023-11-30 23:59:59
3   2015000035      Cancelled   2015-01-02 11:22:31  2025-01-31 23:59:59
4   2015000040      Cancelled   2015-01-02 11:27:59  2016-01-31 23:59:59

   date_cert_effective      business_owner_name ownership_type  \
0  2022-02-01 23:59:59             MARIEA PLACE           CORP
1  2016-01-01 00:00:00          DARRELL D DEROS           SOLE
2  2022-12-01 23:59:59              METLANG LLC            LLC
3  2024-02-01 23:59:59  ROBERT ANTHONY LAMAS JR           SOLE
4  2015-02-01 23:59:59          ROSE BENSHOSHAN           SOLE

   date_business_start              dba_name  naics_sector  ...  address_city  \
0  2015-01-07 00:00:00   PLACE SUBWAY SS INC            72  ...         POWAY
1  2015-01-02 00:00:00  MIDAS TOUCH PEDI CAB            48  ...     SAN DIEGO
2  2014-12-01 00:00:00           METLANG LLC            54  ...     SAN DIEGO
3  2015-01-15 00:00:00         STEAM VS SOIL            56  ...     SAN DIEGO
4  2015-01-02 00:00:00        ZULU COSMETICS            45  ...         JAMUL

  address_state address_zip address_suite address_pmb_box address_po_box  \
0            CA  92064-8864           100             NaN            NaN
1            CA  92101-7362          2308             NaN            NaN
2            CA  92108-4341           410             NaN            NaN
3            CA  92119-1223           NaN             NaN            NaN
4            CA  91935-2637           NaN             NaN            NaN

    bid council_district        lat         lng
0   NaN              NaN  32.939169 -117.029081
1  29.0              3.0  32.711476 -117.153331
2   NaN              7.0  32.773410 -117.158506
3   NaN              7.0  32.809782 -117.042478
4   NaN              NaN  32.750473 -116.753586

[5 rows x 27 columns]

In [5]:
# Step 1: Concatenate all dataframes into a single dataset with a source flag
import pandas as pd

# Assume active_df and all inactive_*_df are already in memory from previous cells

active_df['source_file'] = 'active'
inactive_90_00_df['source_file'] = 'inactive_1990_2000'
inactive_00_10_df['source_file'] = 'inactive_2000_2010'
inactive_10_15_df['source_file'] = 'inactive_2010_2015'
inactive_15_curr_df['source_file'] = 'inactive_2015_curr'

businesses_df = pd.concat([
    active_df,
    inactive_90_00_df,
    inactive_00_10_df,
    inactive_10_15_df,
    inactive_15_curr_df
], ignore_index=True)

print(businesses_df.head())
print(businesses_df['source_file'].value_counts())

   account_key account_status date_account_creation date_cert_expiration  \
0   1974000024         Active   1974-07-01 12:00:00  2026-06-30 12:00:00
1   1974000035         Active   1974-07-01 12:00:00  2026-06-30 12:00:00
2   1974000039         Active   1974-07-01 12:00:00  2026-06-30 00:00:00
3   1974000053         Active   1974-07-01 12:00:00  2026-06-30 00:00:00
4   1974000080         Active   1974-07-01 12:00:00  2026-06-30 12:00:00

   date_cert_effective                            business_owner_name  \
0  2025-07-01 12:00:00                               PARRON HALL CORP
1  2025-07-01 12:00:00  UNIV MECHANICAL & ENGINEERING CONTRACTORS INC
2  2025-07-01 00:00:00                        ADMIRAL EXCHANGE CO INC
3  2025-07-01 00:00:00                             R W SMITH & CO INC
4  2025-07-01 12:00:00                           ALDERWOODS GROUP INC

  ownership_type  date_business_start  \
0           CORP  1974-07-01 12:00:00
1           CORP  1974-07-01 12:00:00
2           CORP  1974-07-01 12:00:00
3           CORP  1974-07-01 12:00:00
4           CORP  1974-07-01 12:00:00

                                          dba_name  naics_sector  ...  \
0                                      PARRON HALL            44  ...
1  UNIVERSITY MECHANICAL & ENGINEERING CONTRACTORS            23  ...
2                          ADMIRAL EXCHANGE CO INC            42  ...
3                              R W SMITH & COMPANY            42  ...
4                  MERKLEY-MITCHELL MORTUARY #7055            81  ...

   address_state address_zip address_suite address_pmb_box address_po_box bid  \
0             CA  92123-2697           100             NaN            NaN NaN
1             CA  92020-1812           NaN             NaN            NaN NaN
2             CA  92123-1405           NaN             NaN            NaN NaN
3             CA  92131-1650           NaN             NaN            NaN NaN
4             CA       92108           103             NaN            NaN NaN

  council_district        lat         lng source_file
0              7.0  32.806283 -117.120553      active
1              NaN  32.808827 -116.977019      active
2              NaN  32.830715 -117.134597      active
3              5.0  32.898905 -117.109826      active
4              7.0  32.780493 -117.113806      active

[5 rows x 28 columns]
source_file
inactive_2000_2010    154229
inactive_1990_2000    125001
inactive_2015_curr     94880
inactive_2010_2015     77790
active                 61722
Name: count, dtype: int64

In [6]:
# Step 2: Standardize column names and add boolean is_active
import pandas as pd

# Work on a copy to keep original safe
businesses = businesses_df.copy()

# Standardize all column names to lowercase with underscores
businesses.columns = [c.strip().lower().replace(' ', '_') for c in businesses.columns]

# Add boolean is_active based on account_status
businesses['is_active'] = businesses['account_status'].str.strip().str.lower().eq('active')

print(businesses.head())
print(businesses[['account_status', 'is_active']].value_counts().head())

   account_key account_status date_account_creation date_cert_expiration  \
0   1974000024         Active   1974-07-01 12:00:00  2026-06-30 12:00:00
1   1974000035         Active   1974-07-01 12:00:00  2026-06-30 12:00:00
2   1974000039         Active   1974-07-01 12:00:00  2026-06-30 00:00:00
3   1974000053         Active   1974-07-01 12:00:00  2026-06-30 00:00:00
4   1974000080         Active   1974-07-01 12:00:00  2026-06-30 12:00:00

   date_cert_effective                            business_owner_name  \
0  2025-07-01 12:00:00                               PARRON HALL CORP
1  2025-07-01 12:00:00  UNIV MECHANICAL & ENGINEERING CONTRACTORS INC
2  2025-07-01 00:00:00                        ADMIRAL EXCHANGE CO INC
3  2025-07-01 00:00:00                             R W SMITH & CO INC
4  2025-07-01 12:00:00                           ALDERWOODS GROUP INC

  ownership_type  date_business_start  \
0           CORP  1974-07-01 12:00:00
1           CORP  1974-07-01 12:00:00
2           CORP  1974-07-01 12:00:00
3           CORP  1974-07-01 12:00:00
4           CORP  1974-07-01 12:00:00

                                          dba_name  naics_sector  ...  \
0                                      PARRON HALL            44  ...
1  UNIVERSITY MECHANICAL & ENGINEERING CONTRACTORS            23  ...
2                          ADMIRAL EXCHANGE CO INC            42  ...
3                              R W SMITH & COMPANY            42  ...
4                  MERKLEY-MITCHELL MORTUARY #7055            81  ...

   address_zip address_suite address_pmb_box address_po_box bid  \
0   92123-2697           100             NaN            NaN NaN
1   92020-1812           NaN             NaN            NaN NaN
2   92123-1405           NaN             NaN            NaN NaN
3   92131-1650           NaN             NaN            NaN NaN
4        92108           103             NaN            NaN NaN

  council_district        lat         lng source_file is_active
0              7.0  32.806283 -117.120553      active      True
1              NaN  32.808827 -116.977019      active      True
2              NaN  32.830715 -117.134597      active      True
3              5.0  32.898905 -117.109826      active      True
4              7.0  32.780493 -117.113806      active      True

[5 rows x 29 columns]
account_status  is_active
Cancelled       False        451900
Active          True          61695
Pending         False            27
Name: count, dtype: int64

In [7]:
# Step 3: Convert date columns to datetime and standardize zip
import pandas as pd

# Work on existing 'businesses' dataframe

# 3a. Convert date columns
date_cols = ['date_account_creation', 'date_cert_expiration', 'date_cert_effective', 'date_business_start']
for col in date_cols:
    businesses[col] = pd.to_datetime(businesses[col], errors='coerce')

# 3b. Standardize ZIP: keep 5-digit ZIP for US zips, strip spaces
# Convert to string, strip, then take first 5 numeric chars when possible
zip_series = businesses['address_zip'].astype(str).str.strip()
zip_series = zip_series.str.extract('(\d{5})', expand=False)

businesses['zip5'] = zip_series

print(businesses[['address_zip', 'zip5']].head())
print(businesses['zip5'].describe())

<>:14: SyntaxWarning: invalid escape sequence '\d'
<>:14: SyntaxWarning: invalid escape sequence '\d'
C:\Users\swast\AppData\Local\Temp\ipykernel_25044\342286378.py:14: SyntaxWarning: invalid escape sequence '\d'
  zip_series = zip_series.str.extract('(\d{5})', expand=False)

  address_zip   zip5
0  92123-2697  92123
1  92020-1812  92020
2  92123-1405  92123
3  92131-1650  92131
4       92108  92108
count     513504
unique      5282
top        92101
freq       29653
Name: zip5, dtype: object

In [8]:
# Step 4: Select core columns relevant to business survival analysis
import pandas as pd

# Define columns to keep
cols_to_keep = [
    'account_key', 'account_status', 'is_active', 'source_file',
    'date_business_start', 'date_account_creation',
    'date_cert_effective', 'date_cert_expiration',
    'business_owner_name', 'ownership_type', 'dba_name',
    'naics_sector', 'naics_code', 'naics_description',
    'address_city', 'address_state', 'address_zip', 'zip5',
    'council_district', 'lat', 'lng', 'bid'
]

biz_clean = businesses[cols_to_keep].copy()

print(biz_clean.head())
print(biz_clean.columns)

   account_key account_status  is_active source_file date_business_start  \
0   1974000024         Active       True      active 1974-07-01 12:00:00
1   1974000035         Active       True      active 1974-07-01 12:00:00
2   1974000039         Active       True      active 1974-07-01 12:00:00
3   1974000053         Active       True      active 1974-07-01 12:00:00
4   1974000080         Active       True      active 1974-07-01 12:00:00

  date_account_creation date_cert_effective date_cert_expiration  \
0   1974-07-01 12:00:00 2025-07-01 12:00:00  2026-06-30 12:00:00
1   1974-07-01 12:00:00 2025-07-01 12:00:00  2026-06-30 12:00:00
2   1974-07-01 12:00:00 2025-07-01 00:00:00  2026-06-30 00:00:00
3   1974-07-01 12:00:00 2025-07-01 00:00:00  2026-06-30 00:00:00
4   1974-07-01 12:00:00 2025-07-01 12:00:00  2026-06-30 12:00:00

                             business_owner_name ownership_type  ...  \
0                               PARRON HALL CORP           CORP  ...
1  UNIV MECHANICAL & ENGINEERING CONTRACTORS INC           CORP  ...
2                        ADMIRAL EXCHANGE CO INC           CORP  ...
3                             R W SMITH & CO INC           CORP  ...
4                           ALDERWOODS GROUP INC           CORP  ...

  naics_code                        naics_description  address_city  \
0        442      FURNITURE & HOME FURNISHINGS STORES     SAN DIEGO
1      23511        PLUMBING, HEATING & AC CONTRACTOR      EL CAJON
2      42199  OTHER MISCELLANEOUS DURABLE GOODS WHSLE     SAN DIEGO
3      42199  OTHER MISCELLANEOUS DURABLE GOODS WHSLE     SAN DIEGO
4      81222                 CEMETERIES & CREMATORIES     SAN DIEGO

  address_state address_zip   zip5 council_district        lat         lng  \
0            CA  92123-2697  92123              7.0  32.806283 -117.120553
1            CA  92020-1812  92020              NaN  32.808827 -116.977019
2            CA  92123-1405  92123              NaN  32.830715 -117.134597
3            CA  92131-1650  92131              5.0  32.898905 -117.109826
4            CA       92108  92108              7.0  32.780493 -117.113806

   bid
0  NaN
1  NaN
2  NaN
3  NaN
4  NaN

[5 rows x 22 columns]
Index(['account_key', 'account_status', 'is_active', 'source_file',
       'date_business_start', 'date_account_creation', 'date_cert_effective',
       'date_cert_expiration', 'business_owner_name', 'ownership_type',
       'dba_name', 'naics_sector', 'naics_code', 'naics_description',
       'address_city', 'address_state', 'address_zip', 'zip5',
       'council_district', 'lat', 'lng', 'bid'],
      dtype='object')

In [9]:
# Step 5: Map ZIP codes to San Diego area names (simple zip-to-area mapping)
# We'll create a coarse mapping based on ZIP prefixes commonly used for San Diego neighborhoods.

zip_area_map = {
    '91901': {'area_name': 'Alpine', 'cluster': 'East'},
    '91902': {'area_name': 'Bonita', 'cluster': 'South'},
    '91906': {'area_name': 'Campo', 'cluster': 'East'},
    '91910': {'area_name': 'Chula Vista', 'cluster': 'South'},
    '91911': {'area_name': 'Chula Vista', 'cluster': 'South'},
    '91913': {'area_name': 'Chula Vista', 'cluster': 'South'},
    '91914': {'area_name': 'Chula Vista', 'cluster': 'South'},
    '91915': {'area_name': 'Chula Vista', 'cluster': 'South'},
    '91917': {'area_name': 'Dulzura', 'cluster': 'East'},
    '91932': {'area_name': 'Imperial Beach', 'cluster': 'South'},
    '91934': {'area_name': 'Jacumba', 'cluster': 'East'},
    '91935': {'area_name': 'Jamul', 'cluster': 'East'},
    '91941': {'area_name': 'La Mesa', 'cluster': 'Central'},
    '91942': {'area_name': 'La Mesa', 'cluster': 'Central'},
    '91945': {'area_name': 'Lemon Grove', 'cluster': 'Central'},
    '91950': {'area_name': 'National City', 'cluster': 'South'},
    '91977': {'area_name': 'Spring Valley', 'cluster': 'South'},
    '91978': {'area_name': 'Spring Valley', 'cluster': 'South'},
    '92003': {'area_name': 'Bonsall', 'cluster': 'North'},
    '92004': {'area_name': 'Borrego Springs', 'cluster': 'East'},
    '92007': {'area_name': 'Cardiff-by-the-Sea', 'cluster': 'North'},
    '92008': {'area_name': 'Carlsbad', 'cluster': 'North'},
    '92009': {'area_name': 'Carlsbad', 'cluster': 'North'},
    '92010': {'area_name': 'Carlsbad', 'cluster': 'North'},
    '92011': {'area_name': 'Carlsbad', 'cluster': 'North'},
    '92014': {'area_name': 'Del Mar', 'cluster': 'North'},
    '92018': {'area_name': 'Carlsbad', 'cluster': 'North'},
    '92019': {'area_name': 'El Cajon', 'cluster': 'East'},
    '92020': {'area_name': 'El Cajon', 'cluster': 'East'},
    '92021': {'area_name': 'Lakeside', 'cluster': 'East'},
    '92025': {'area_name': 'Escondido', 'cluster': 'North'},
    '92026': {'area_name': 'Escondido', 'cluster': 'North'},
    '92027': {'area_name': 'Escondido', 'cluster': 'North'},
    '92028': {'area_name': 'Fallbrook', 'cluster': 'North'},
    '92029': {'area_name': 'Escondido', 'cluster': 'North'},
    '92036': {'area_name': 'Julian', 'cluster': 'East'},
    '92037': {'area_name': 'La Jolla', 'cluster': 'North'},
    '92040': {'area_name': 'Lakeside', 'cluster': 'East'},
    '92054': {'area_name': 'Oceanside', 'cluster': 'North'},
    '92056': {'area_name': 'Oceanside', 'cluster': 'North'},
    '92057': {'area_name': 'Oceanside', 'cluster': 'North'},
    '92058': {'area_name': 'Oceanside', 'cluster': 'North'},
    '92059': {'area_name': 'Pala', 'cluster': 'North'},
    '92061': {'area_name': 'Pauma Valley', 'cluster': 'North'},
    '92064': {'area_name': 'Poway', 'cluster': 'North'},
    '92065': {'area_name': 'Ramona', 'cluster': 'East'},
    '92067': {'area_name': 'Rancho Santa Fe', 'cluster': 'North'},
    '92069': {'area_name': 'San Marcos', 'cluster': 'North'},
    '92071': {'area_name': 'Santee', 'cluster': 'East'},
    '92075': {'area_name': 'Solana Beach', 'cluster': 'North'},
    '92078': {'area_name': 'San Marcos', 'cluster': 'North'},
    '92081': {'area_name': 'Vista', 'cluster': 'North'},
    '92083': {'area_name': 'Vista', 'cluster': 'North'},
    '92084': {'area_name': 'Vista', 'cluster': 'North'},
    '92086': {'area_name': 'Warner Springs', 'cluster': 'East'},
    '92101': {'area_name': 'Downtown San Diego', 'cluster': 'Central'},
    '92102': {'area_name': 'Southeast San Diego', 'cluster': 'Central'},
    '92103': {'area_name': 'Hillcrest', 'cluster': 'Central'},
    '92104': {'area_name': 'North Park', 'cluster': 'Central'},
    '92105': {'area_name': 'City Heights', 'cluster': 'Central'},
    '92106': {'area_name': 'Point Loma', 'cluster': 'West'},
    '92107': {'area_name': 'Ocean Beach', 'cluster': 'West'},
    '92108': {'area_name': 'Mission Valley', 'cluster': 'Central'},
    '92109': {'area_name': 'Pacific Beach', 'cluster': 'West'},
    '92110': {'area_name': 'Old Town', 'cluster': 'West'},
    '92111': {'area_name': 'Linda Vista', 'cluster': 'Central'},
    '92113': {'area_name': 'Logan Heights', 'cluster': 'South'},
    '92114': {'area_name': 'Encanto', 'cluster': 'South'},
    '92115': {'area_name': 'College Area', 'cluster': 'Central'},
    '92116': {'area_name': 'Normal Heights', 'cluster': 'Central'},
    '92117': {'area_name': 'Clairemont', 'cluster': 'North'},
    '92119': {'area_name': 'San Carlos', 'cluster': 'Central'},
    '92120': {'area_name': 'Del Cerro', 'cluster': 'Central'},
    '92121': {'area_name': 'Sorrento Valley', 'cluster': 'North'},
    '92122': {'area_name': 'University City', 'cluster': 'North'},
    '92123': {'area_name': 'Kearny Mesa', 'cluster': 'North'},
    '92124': {'area_name': 'Tierrasanta', 'cluster': 'Central'},
    '92126': {'area_name': 'Mira Mesa', 'cluster': 'North'},
    '92127': {'area_name': 'Rancho Bernardo', 'cluster': 'North'},
    '92128': {'area_name': 'Rancho Bernardo', 'cluster': 'North'},
    '92129': {'area_name': 'Rancho Pe√±asquitos', 'cluster': 'North'},
    '92130': {'area_name': 'Carmel Valley', 'cluster': 'North'},
    '92131': {'area_name': 'Scripps Ranch', 'cluster': 'North'},
    '92139': {'area_name': 'Paradise Hills', 'cluster': 'South'},
    '92154': {'area_name': 'Otay Mesa', 'cluster': 'South'},
    '92173': {'area_name': 'San Ysidro', 'cluster': 'South'}
}

# Create area_name using zip5 mapping where available, else 'Other / Outside SD'

biz_clean['area_name'] = biz_clean['zip5'].map(zip_area_map)

biz_clean['area_name'] = biz_clean['area_name'].fillna('Other / Outside SD')

print(biz_clean[['zip5', 'area_name']].head())
print(biz_clean['area_name'].value_counts().head())

    zip5                                          area_name
0  92123   {'area_name': 'Kearny Mesa', 'cluster': 'North'}
1  92020       {'area_name': 'El Cajon', 'cluster': 'East'}
2  92123   {'area_name': 'Kearny Mesa', 'cluster': 'North'}
3  92131  {'area_name': 'Scripps Ranch', 'cluster': 'Nor...
4  92108  {'area_name': 'Mission Valley', 'cluster': 'Ce...
area_name
Other / Outside SD                                           42123
{'area_name': 'Downtown San Diego', 'cluster': 'Central'}    29653
{'area_name': 'Rancho Bernardo', 'cluster': 'North'}         22399
{'area_name': 'Pacific Beach', 'cluster': 'West'}            20860
{'area_name': 'Otay Mesa', 'cluster': 'South'}               20365
Name: count, dtype: int64

In [10]:
# Step 6: Standardize NAICS sector and create a high-level industry label
import pandas as pd

# Ensure naics_sector is numeric where possible
biz_clean['naics_sector'] = pd.to_numeric(biz_clean['naics_sector'], errors='coerce')

# Simple mapping based on 2-digit NAICS sector codes
naics_sector_map = {
    11: 'Agriculture, Forestry, Fishing and Hunting',
    21: 'Mining, Quarrying, and Oil and Gas Extraction',
    22: 'Utilities',
    23: 'Construction',
    31: 'Manufacturing', 32: 'Manufacturing', 33: 'Manufacturing',
    42: 'Wholesale Trade',
    44: 'Retail Trade', 45: 'Retail Trade',
    48: 'Transportation and Warehousing', 49: 'Transportation and Warehousing',
    51: 'Information',
    52: 'Finance and Insurance',
    53: 'Real Estate and Rental and Leasing',
    54: 'Professional, Scientific, and Technical Services',
    55: 'Management of Companies and Enterprises',
    56: 'Administrative and Support and Waste Management',
    61: 'Educational Services',
    62: 'Health Care and Social Assistance',
    71: 'Arts, Entertainment, and Recreation',
    72: 'Accommodation and Food Services',
    81: 'Other Services (except Public Administration)',
    92: 'Public Administration'
}

biz_clean['naics_sector_label'] = biz_clean['naics_sector'].map(naics_sector_map)

print(biz_clean[['naics_sector', 'naics_sector_label']].head())
print(biz_clean['naics_sector_label'].value_counts().head())

   naics_sector                             naics_sector_label
0            44                                   Retail Trade
1            23                                   Construction
2            42                                Wholesale Trade
3            42                                Wholesale Trade
4            81  Other Services (except Public Administration)
naics_sector_label
Professional, Scientific, and Technical Services    132023
Retail Trade                                         81700
Other Services (except Public Administration)        62641
Administrative and Support and Waste Management      36115
Construction                                         28110
Name: count, dtype: int64

In [11]:
# Step 7: Remove nulls and duplicates with some basic checks
import pandas as pd

# Check for obvious duplicates by account_key and date_business_start
initial_rows = len(biz_clean)

biz_clean = biz_clean.drop_duplicates(subset=['account_key', 'date_business_start'])

after_dedup_rows = len(biz_clean)

# Remove records with missing critical fields: account_key or date_business_start
biz_clean = biz_clean.dropna(subset=['account_key', 'date_business_start'])

after_dropna_rows = len(biz_clean)

print(initial_rows)
print(after_dedup_rows)
print(after_dropna_rows)

# Quick look at remaining nulls in key columns
null_summary = biz_clean[['zip5', 'naics_sector', 'lat', 'lng']].isna().mean()
print(null_summary)

513622
513622
513576
zip5            0.000230
naics_sector    0.000000
lat             0.024888
lng             0.024888
dtype: float64

In [12]:
# Build survival-related fields and basic summaries on the already-prepared biz_clean
import pandas as pd

# 1) Define closure date: for inactive accounts with a cert expiration, use that as closure; else leave NaT
biz_clean['closure_date'] = pd.to_datetime(biz_clean['date_cert_expiration'], errors='coerce')

# 2) Business age in years (from start to either closure or 'now' for active)
reference_date = pd.Timestamp('2025-01-01')
end_date = biz_clean['closure_date'].where(~biz_clean['is_active'], reference_date)

start = pd.to_datetime(biz_clean['date_business_start'], errors='coerce')

biz_clean['duration_years'] = (end_date - start).dt.days / 365.25

# 3) Simple survival flag: 1 if still active at reference_date, 0 if closed
biz_clean['survived_to_ref'] = biz_clean['is_active'].astype(int)

# Quick sanity checks
print(biz_clean[['date_business_start','closure_date','is_active','duration_years','survived_to_ref']].head())
print(biz_clean['duration_years'].describe())

  date_business_start        closure_date  is_active  duration_years  \
0 1974-07-01 12:00:00 2026-06-30 12:00:00       True       50.502396
1 1974-07-01 12:00:00 2026-06-30 12:00:00       True       50.502396
2 1974-07-01 12:00:00 2026-06-30 00:00:00       True       50.502396
3 1974-07-01 12:00:00 2026-06-30 00:00:00       True       50.502396
4 1974-07-01 12:00:00 2026-06-30 12:00:00       True       50.502396

   survived_to_ref
0                1
1                1
2                1
3                1
4                1
count    513561.000000
mean          4.405727
std           6.778299
min         -99.997262
25%           0.996578
50%           1.998631
75%           5.010267
max         199.994524
Name: duration_years, dtype: float64

In [14]:
# Fix area_name so that it is just the plain string name, not the full dict representation
# It sounds like some values may have been assigned as the dict itself instead of the 'area_name' field.

import pandas as pd

# If any rows in area_name are dict-like, extract the 'area_name' key; otherwise leave as-is

def extract_area_name(val):
    if isinstance(val, dict):
        return val.get('area_name')
    return val

biz_clean['area_name'] = biz_clean['area_name'].apply(extract_area_name)

print(biz_clean['area_name'].head())

0       Kearny Mesa
1          El Cajon
2       Kearny Mesa
3     Scripps Ranch
4    Mission Valley
Name: area_name, dtype: object

In [15]:
# Save the current cleaned business dataframe to CSV files for export.
# One full file, and one subset limited to San Diego County area ZIPs (non-'Other / Outside SD County').

import pandas as pd

# Assume biz_clean already exists in memory from prior steps

# Full cleaned dataset
full_filename = 'biz_clean_full.csv'
biz_clean.to_csv(full_filename, index=False)

# Subset: records that are mapped to San Diego County areas (exclude generic Other / Outside SD County)
sd_county_mask = biz_clean['area_name'] != 'Other / Outside SD County'
biz_clean_sd = biz_clean[sd_county_mask].copy()

sd_filename = 'biz_clean_sd_county_only.csv'
biz_clean_sd.to_csv(sd_filename, index=False)

print(full_filename)
print(sd_filename)
print(biz_clean_sd.head())

biz_clean_full.csv
biz_clean_sd_county_only.csv
   account_key account_status  is_active source_file date_business_start  \
0   1974000024         Active       True      active 1974-07-01 12:00:00
1   1974000035         Active       True      active 1974-07-01 12:00:00
2   1974000039         Active       True      active 1974-07-01 12:00:00
3   1974000053         Active       True      active 1974-07-01 12:00:00
4   1974000080         Active       True      active 1974-07-01 12:00:00

  date_account_creation date_cert_effective date_cert_expiration  \
0   1974-07-01 12:00:00 2025-07-01 12:00:00  2026-06-30 12:00:00
1   1974-07-01 12:00:00 2025-07-01 12:00:00  2026-06-30 12:00:00
2   1974-07-01 12:00:00 2025-07-01 00:00:00  2026-06-30 00:00:00
3   1974-07-01 12:00:00 2025-07-01 00:00:00  2026-06-30 00:00:00
4   1974-07-01 12:00:00 2025-07-01 12:00:00  2026-06-30 12:00:00

                             business_owner_name ownership_type  ...   zip5  \
0                               PARRON HALL CORP           CORP  ...  92123
1  UNIV MECHANICAL & ENGINEERING CONTRACTORS INC           CORP  ...  92020
2                        ADMIRAL EXCHANGE CO INC           CORP  ...  92123
3                             R W SMITH & CO INC           CORP  ...  92131
4                           ALDERWOODS GROUP INC           CORP  ...  92108

   council_district        lat         lng bid       area_name  \
0               7.0  32.806283 -117.120553 NaN     Kearny Mesa
1               NaN  32.808827 -116.977019 NaN        El Cajon
2               NaN  32.830715 -117.134597 NaN     Kearny Mesa
3               5.0  32.898905 -117.109826 NaN   Scripps Ranch
4               7.0  32.780493 -117.113806 NaN  Mission Valley

                              naics_sector_label        closure_date  \
0                                   Retail Trade 2026-06-30 12:00:00
1                                   Construction 2026-06-30 12:00:00
2                                Wholesale Trade 2026-06-30 00:00:00
3                                Wholesale Trade 2026-06-30 00:00:00
4  Other Services (except Public Administration) 2026-06-30 12:00:00

   duration_years  survived_to_ref
0       50.502396                1
1       50.502396                1
2       50.502396                1
3       50.502396                1
4       50.502396                1

[5 rows x 27 columns]

In [16]:
# Load Unemployment.csv and show head so we can understand its structure
import pandas as pd

unemp = pd.read_csv('Unemployment.csv')
print(unemp.head())

# Also quickly summarize columns
print(unemp.columns)

  observation_date  CASAND5URN
0       1990-01-01         4.0
1       1990-02-01         3.8
2       1990-03-01         3.7
3       1990-04-01         3.9
4       1990-05-01         4.1
Index(['observation_date', 'CASAND5URN'], dtype='object')

In [17]:
# Aggregate unemployment to annual average so we can match to business closure years
import pandas as pd

# unemp already loaded as `unemp`
unemp['observation_date'] = pd.to_datetime(unemp['observation_date'], errors='coerce')
unemp['year'] = unemp['observation_date'].dt.year

annual_unemp = unemp.groupby('year', as_index=False)['CASAND5URN'].mean().rename(columns={'CASAND5URN':'unemp_rate'})

print(annual_unemp.head())

   year  unemp_rate
0  1990    4.616667
1  1991    6.341667
2  1992    7.291667
3  1993    7.858333
4  1994    7.125000

In [18]:
# Build yearly closure statistics and join with annual unemployment
import pandas as pd

# Assume biz_clean and annual_unemp already in memory

# Ensure dates are datetime
biz_clean['date_business_start'] = pd.to_datetime(biz_clean['date_business_start'], errors='coerce')
biz_clean['closure_date'] = pd.to_datetime(biz_clean['closure_date'], errors='coerce')

# Extract start and closure years
biz_clean['start_year'] = biz_clean['date_business_start'].dt.year
biz_clean['closure_year'] = biz_clean['closure_date'].dt.year

# Define a reasonable analysis window
min_year = 1990
max_year = 2024

# For each year, count closures and approximate active base
records = []
for year in range(min_year, max_year + 1):
    # Active base: businesses started on/before this year and not closed before this year
    active_mask = (biz_clean['start_year'] <= year) & (
        (biz_clean['closure_year'].isna()) | (biz_clean['closure_year'] >= year)
    )
    active_base = active_mask.sum()

    # Closures: businesses whose closure_year == this year
    close_mask = biz_clean['closure_year'] == year
    closures = close_mask.sum()

    closure_rate = closures / active_base if active_base > 0 else None

    records.append({
        'year': year,
        'active_base': active_base,
        'closures': closures,
        'closure_rate': closure_rate
    })

closure_yearly = pd.DataFrame(records)

# Join with annual unemployment
annual_unemp = unemp.copy()
annual_unemp['observation_date'] = pd.to_datetime(annual_unemp['observation_date'], errors='coerce')
annual_unemp['year'] = annual_unemp['observation_date'].dt.year
annual_unemp = annual_unemp.groupby('year', as_index=False)['CASAND5URN'].mean().rename(columns={'CASAND5URN':'unemp_rate'})

closure_unemp = pd.merge(closure_yearly, annual_unemp, on='year', how='left')

# Save to CSV for Tableau
outfile = 'yearly_closure_unemployment.csv'
closure_unemp.to_csv(outfile, index=False)

print(outfile)
print(closure_unemp.head())

yearly_closure_unemployment.csv
   year  active_base  closures  closure_rate  unemp_rate
0  1990        21816       482      0.022094    4.616667
1  1991        33004      7817      0.236850    6.341667
2  1992        36624      7247      0.197876    7.291667
3  1993        40650      7425      0.182657    7.858333
4  1994        45266      7722      0.170592    7.125000

In [19]:
# Create sector-year closure count and closure rate tables, then save as CSVs for Tableau
# Assumes `biz_clean` is already in memory with columns: naics_sector, date_business_start, closure_date, is_active

import pandas as pd

# Ensure dates and years
biz_clean['date_business_start'] = pd.to_datetime(biz_clean['date_business_start'], errors='coerce')
biz_clean['closure_date'] = pd.to_datetime(biz_clean['closure_date'], errors='coerce')

biz_clean['start_year'] = biz_clean['date_business_start'].dt.year
biz_clean['closure_year'] = biz_clean['closure_date'].dt.year

# Define analysis window
min_year = 1990
max_year = 2024

records_sector = []

for year in range(min_year, max_year + 1):
    # Active base per sector: started on/before year and not closed before year
    active_mask = (biz_clean['start_year'] <= year) & (
        biz_clean['naics_sector'].notna() &
        ((biz_clean['closure_year'].isna()) | (biz_clean['closure_year'] >= year))
    )
    active_df = biz_clean[active_mask]

    # Closures per sector: closed in this year
    close_mask = (biz_clean['closure_year'] == year) & biz_clean['naics_sector'].notna()
    close_df = biz_clean[close_mask]

    active_by_sector = active_df.groupby('naics_sector').size().rename('active_base').reset_index()
    close_by_sector = close_df.groupby('naics_sector').size().rename('closures').reset_index()

    merged = pd.merge(active_by_sector, close_by_sector, on='naics_sector', how='left')
    merged['closures'] = merged['closures'].fillna(0)
    merged['year'] = year
    merged['closure_rate'] = merged['closures'] / merged['active_base']

    records_sector.append(merged)

sector_year = pd.concat(records_sector, ignore_index=True)

# Save two variants: counts-only and closure-rate
counts_filename = 'sector_year_num_closures.csv'
sector_year_counts = sector_year[['year','naics_sector','active_base','closures']]
sector_year_counts.to_csv(counts_filename, index=False)

rate_filename = 'sector_year_closure_rate.csv'
sector_year_rate = sector_year[['year','naics_sector','closure_rate']]
sector_year_rate.to_csv(rate_filename, index=False)

print(counts_filename)
print(rate_filename)
print(sector_year.head())

sector_year_num_closures.csv
sector_year_closure_rate.csv
   naics_sector  active_base  closures  year  closure_rate
0            11           17       0.0  1990      0.000000
1            21            1       0.0  1990      0.000000
2            22           16       0.0  1990      0.000000
3            23         1319      22.0  1990      0.016679
4            31          131       5.0  1990      0.038168

In [20]:
# Add NAICS description to the sector-year tables so Tableau sees readable sector names
import pandas as pd

# Assume biz_clean and sector_year dataframes are already in memory; if not, recreate sector_year from previous logic

# Build a mapping from naics_sector code to description using biz_clean
sector_desc_map = biz_clean[['naics_sector', 'naics_description']].dropna().drop_duplicates()

print(sector_desc_map.head())

# Merge descriptions into sector_year and resave CSVs
sector_year = sector_year.merge(sector_desc_map, on='naics_sector', how='left')

counts_filename = 'sector_year_num_closures_with_desc.csv'
sector_year_counts = sector_year[['year','naics_sector','naics_description','active_base','closures']]
sector_year_counts.to_csv(counts_filename, index=False)

rate_filename = 'sector_year_closure_rate_with_desc.csv'
sector_year_rate = sector_year[['year','naics_sector','naics_description','closure_rate']]
sector_year_rate.to_csv(rate_filename, index=False)

print(counts_filename)
print(rate_filename)
print(sector_year.head())

   naics_sector                        naics_description
0            44      FURNITURE & HOME FURNISHINGS STORES
1            23        PLUMBING, HEATING & AC CONTRACTOR
2            42  OTHER MISCELLANEOUS DURABLE GOODS WHSLE
4            81                 CEMETERIES & CREMATORIES
5            23                   ELECTRICAL CONTRACTORS
sector_year_num_closures_with_desc.csv
sector_year_closure_rate_with_desc.csv
   naics_sector  active_base  closures  year  closure_rate  \
0            11           17       0.0  1990           0.0
1            11           17       0.0  1990           0.0
2            11           17       0.0  1990           0.0
3            11           17       0.0  1990           0.0
4            11           17       0.0  1990           0.0

                          naics_description
0      ANIMAL PRODUCTION SUPPORT ACTIVITIES
1  AGRICULTURE, FORESTRY, FISHING & HUNTING
2                                   FISHING
3                 NURSERY & TREE PRODUCTION
4         NURSERY & FLORICULTURE PRODUCTION

In [21]:
# Create sector-year tables with an additional "industry_cluster" dimension if available
# Assumes biz_clean already in memory and has a column like 'area_cluster' for geography;
# for "industry cluster" we will assume a higher-level grouping based on naics_sector ranges.

import pandas as pd

# Make sure dates and years exist
biz_clean['date_business_start'] = pd.to_datetime(biz_clean['date_business_start'], errors='coerce')
biz_clean['closure_date'] = pd.to_datetime(biz_clean['closure_date'], errors='coerce')

biz_clean['start_year'] = biz_clean['date_business_start'].dt.year
biz_clean['closure_year'] = biz_clean['closure_date'].dt.year

# Create a simple industry_cluster based on 2-digit NAICS sector
# (You can remap labels in Tableau later if desired.)

def map_industry_cluster(sector):
    try:
        s = int(sector)
    except (TypeError, ValueError):
        return None
    if 11 <= s <= 21:
        return 'Natural Resources & Mining'
    if 22 <= s <= 23:
        return 'Construction & Utilities'
    if 31 <= s <= 33:
        return 'Manufacturing'
    if 42 <= s <= 49:
        return 'Trade, Transportation & Warehousing'
    if 51 <= s <= 56:
        return 'Information & Business Services'
    if 61 <= s <= 62:
        return 'Education & Health'
    if 71 <= s <= 72:
        return 'Leisure & Hospitality'
    if 81 <= s <= 99:
        return 'Other Services & Public'
    return 'Other / Unknown'

biz_clean['industry_cluster'] = biz_clean['naics_sector'].apply(map_industry_cluster)

# Define year window
min_year = 1990
max_year = 2024

records_cluster = []

for year in range(min_year, max_year + 1):
    # Active base per industry_cluster
    active_mask = (biz_clean['start_year'] <= year) & (
        biz_clean['industry_cluster'].notna() &
        ((biz_clean['closure_year'].isna()) | (biz_clean['closure_year'] >= year))
    )
    active_df = biz_clean[active_mask]

    close_mask = (biz_clean['closure_year'] == year) & biz_clean['industry_cluster'].notna()
    close_df = biz_clean[close_mask]

    active_by_cluster = active_df.groupby('industry_cluster').size().rename('active_base').reset_index()
    close_by_cluster = close_df.groupby('industry_cluster').size().rename('closures').reset_index()

    merged = pd.merge(active_by_cluster, close_by_cluster, on='industry_cluster', how='left')
    merged['closures'] = merged['closures'].fillna(0)
    merged['year'] = year
    merged['closure_rate'] = merged['closures'] / merged['active_base']

    records_cluster.append(merged)

cluster_year = pd.concat(records_cluster, ignore_index=True)

# Save files for Tableau
cluster_counts_file = 'industry_cluster_year_num_closures.csv'
cluster_rates_file = 'industry_cluster_year_closure_rate.csv'

cluster_year_counts = cluster_year[['year','industry_cluster','active_base','closures']]
cluster_year_counts.to_csv(cluster_counts_file, index=False)

cluster_year_rates = cluster_year[['year','industry_cluster','closure_rate']]
cluster_year_rates.to_csv(cluster_rates_file, index=False)

print(cluster_counts_file)
print(cluster_year.head())

industry_cluster_year_num_closures.csv
                  industry_cluster  active_base  closures  year  closure_rate
0         Construction & Utilities         1335      22.0  1990      0.016479
1               Education & Health         1232      13.0  1990      0.010552
2  Information & Business Services         8002     182.0  1990      0.022744
3            Leisure & Hospitality          937      24.0  1990      0.025614
4                    Manufacturing          735      17.0  1990      0.023129

In [24]:
print(biz_clean.columns)

Index(['account_key', 'account_status', 'is_active', 'source_file',
       'date_business_start', 'date_account_creation', 'date_cert_effective',
       'date_cert_expiration', 'business_owner_name', 'ownership_type',
       'dba_name', 'naics_sector', 'naics_code', 'naics_description',
       'address_city', 'address_state', 'address_zip', 'zip5',
       'council_district', 'lat', 'lng', 'bid', 'area_name',
       'naics_sector_label', 'closure_date', 'duration_years',
       'survived_to_ref', 'start_year', 'closure_year', 'industry_cluster'],
      dtype='object')

In [25]:
for year in range(min_year, max_year + 1):
    active_mask = (biz_clean['start_year'] <= year) & (
        biz_clean['industry_cluster'].notna() &
        ((biz_clean['closure_year'].isna()) | (biz_clean['closure_year'] >= year))
    )
    active_df = biz_clean[active_mask]

    close_mask = (biz_clean['closure_year'] == year) & biz_clean['industry_cluster'].notna()
    close_df = biz_clean[close_mask]

    active_by_cluster = active_df.groupby('industry_cluster').size().rename('active_base').reset_index()
    close_by_cluster = close_df.groupby('industry_cluster').size().rename('closures').reset_index()

    merged = active_by_cluster.merge(close_by_cluster, on='industry_cluster', how='left')
    merged['closures'] = merged['closures'].fillna(0)
    merged['year'] = year
    merged['closure_rate'] = merged['closures'] / merged['active_base']

In [26]:
# Rebuild sector-year tables but include NAICS descriptions cleanly and save as CSVs
import pandas as pd

# We assume biz_clean and sector_year already exist in memory from earlier steps.
# First, build a clean mapping from naics_sector to a single, canonical naics_description.

naics_map = biz_clean[['naics_sector', 'naics_description']].dropna()

# For sectors with multiple descriptions, just pick the most frequent description per sector.
naics_map = (
    naics_map
    .groupby('naics_sector')['naics_description']
    .agg(lambda x: x.value_counts().idxmax())
    .reset_index()
)

print(naics_map.head())

# Recreate sector_year from biz_clean to be safe and ensure it is based on current data
biz_clean['date_business_start'] = pd.to_datetime(biz_clean['date_business_start'], errors='coerce')
biz_clean['closure_date'] = pd.to_datetime(biz_clean['closure_date'], errors='coerce')

biz_clean['start_year'] = biz_clean['date_business_start'].dt.year
biz_clean['closure_year'] = biz_clean['closure_date'].dt.year

min_year = 1990
max_year = 2024

records_sector = []

for year in range(min_year, max_year + 1):
    active_mask = (biz_clean['start_year'] <= year) & (
        biz_clean['naics_sector'].notna() &
        ((biz_clean['closure_year'].isna()) | (biz_clean['closure_year'] >= year))
    )
    active_df = biz_clean[active_mask]

    close_mask = (biz_clean['closure_year'] == year) & biz_clean['naics_sector'].notna()
    close_df = biz_clean[close_mask]

    active_by_sector = active_df.groupby('naics_sector').size().rename('active_base').reset_index()
    close_by_sector = close_df.groupby('naics_sector').size().rename('closures').reset_index()

    merged = pd.merge(active_by_sector, close_by_sector, on='naics_sector', how='left')
    merged['closures'] = merged['closures'].fillna(0)
    merged['year'] = year
    merged['closure_rate'] = merged['closures'] / merged['active_base']

    records_sector.append(merged)

sector_year = pd.concat(records_sector, ignore_index=True)

# Merge in the canonical NAICS description
sector_year = sector_year.merge(naics_map, on='naics_sector', how='left')

print(sector_year.head())

# Save two CSVs that explicitly include naics_description
counts_with_desc = 'sector_year_num_closures_naics_desc.csv'
sector_year_counts = sector_year[['year','naics_sector','naics_description','active_base','closures']]
sector_year_counts.to_csv(counts_with_desc, index=False)

rates_with_desc = 'sector_year_closure_rate_naics_desc.csv'
sector_year_rates = sector_year[['year','naics_sector','naics_description','closure_rate']]
sector_year_rates.to_csv(rates_with_desc, index=False)

print(counts_with_desc)
print(rates_with_desc)

   naics_sector                           naics_description
0            11        ANIMAL PRODUCTION SUPPORT ACTIVITIES
1            21                        OIL & GAS EXTRACTION
2            22                                   UTILITIES
3            23  BUILDING, DEVELOPING & GENERAL CONTRACTING
4            31                       APPAREL MANUFACTURING
   naics_sector  active_base  closures  year  closure_rate  \
0            11           17       0.0  1990      0.000000
1            21            1       0.0  1990      0.000000
2            22           16       0.0  1990      0.000000
3            23         1319      22.0  1990      0.016679
4            31          131       5.0  1990      0.038168

                            naics_description
0        ANIMAL PRODUCTION SUPPORT ACTIVITIES
1                        OIL & GAS EXTRACTION
2                                   UTILITIES
3  BUILDING, DEVELOPING & GENERAL CONTRACTING
4                       APPAREL MANUFACTURING
sector_year_num_closures_naics_desc.csv
sector_year_closure_rate_naics_desc.csv